<div class="product-container">
    <a [routerLink]="['/product-item-detail', product.id]">
        <img [src]="product.url" class="product-image">
    </a>
    <p>{{ product.name }}</p>
    <p>{{ product.price | currency }}</p>
    <select class="select-input" [(ngModel)]="quantity">
        <option *ngFor="let option of quantityOptions" [value]="option.value">{{option.value}}</option>
    </select>
    <button mat-flat-button color="primary" (click)="addToCart(product)">Add to Cart</button>
</div>
