<div class="cart-container" *ngIf="cart.cartItems.length > 0; else emptyCart">
    <div class="cart-panel">
        <div *ngFor="let item of cart.cartItems" class="cart-item">
            <img [src]="item.url">
            <div class="cart-item-details">
                <p>{{ item.name }}</p>
                <p>{{ item.cost | currency }}</p>
                <p>Amount: <input [(ngModel)]="item.quantity" type="number" class="number-input" (change)="updateCart(item)"></p>
            </div>
        </div>
        <div>
            <h3>Total: {{ cart.totalCost | currency }}</h3>
        </div>
    </div>
    <div class="cart-panel">
        <form (ngSubmit)="onSubmit()">
            <div class="form-fields">
                <mat-form-field>
                    <mat-label>Full name</mat-label>
                    <input matInput type="text" name="fullName" required minlength="3" [(ngModel)]="fullName" placeholder="(minimum 3 characters)">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Address</mat-label>
                    <input matInput type="text" name="address" required minlength="3" [(ngModel)]="address" placeholder="(minimum 3 characters)">
                </mat-form-field>
                <mat-form-field>        
                    <mat-label>Credit card number</mat-label>
                    <input matInput type="text" name="creditCardNumber" required minlength="16" maxlength="16" [(ngModel)]="creditCardNumber" placeholder="(16-digit number)">
                </mat-form-field>
            </div>
            <button mat-flat-button color="primary" type="submit">Submit</button>
        </form>
    </div>
</div>

<ng-template #emptyCart>
    <div class="empty-cart-message">
        <h1>Your cart is empty!</h1>
    </div>
</ng-template>